<h3 style="text-align: center;">Product Details</h3>

<app-product-category></app-product-category>

<button  style="margin-left: 205px;" routerLink="/newproduct" >New Product</button>



<table class="table table-striped table-bordered border-dark table-hover" style="width: 900px; margin-left:200px; margin-top: 20px; border: 1px solid black;">

    <tr style="background-color: black; color: aliceblue;">
        <th   scope="col">Product ID</th>
        <th  scope="col">SKU</th>
        <th  scope="col">Name</th>
        <th  scope="col">Description</th>
        <th  scope="col">Unit Price</th>
        <th  scope="col">Image</th>
        <th  scope="col">Active</th>
        <th  scope="col">Unit Stock</th>
        <th  scope="col">Craeted Date</th>
        <th  scope="col">Last updated</th>
        <th  scope="col">Category ID</th>
        
    </tr>

    <tr *ngFor ="let prod of products" >
        <td>{{prod.id}}</td>
        <td>{{prod.sku}}</td>
        <td>{{prod.name}}</td>
        <td>{{prod.description}}</td>
        <td>{{prod.unitprice | currency:'INR'}}</td>
        <td><img [src]="prod.imageurl" style="width: 100px; height: 100px;" alt=""></td>
        <td>{{prod.active}}</td>
        <td>{{prod.unitsinstock}}</td>
        <td>{{prod.datecreated}}</td>
        <td>{{prod.lastupdated}}</td>
        <td>{{prod.categoryid}}</td>
    </tr>




</table>

